@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is a demo release for a room reservation webapp.</p>
    <p class="lead"><strong>To start using the app, please login using the link in the top-right corner.</strong></p>
    <p><em>Source code can be found on <a href="https://github.com/gfontorbe/RoomReservation" target="_blank">GitHub</a>.</em></p>
</div>
