@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p>You can access the reservation system by clicking on the "New bboking" button in the navigation bar.</p>
        <p>If you have admin privileges, you can manage users and rooms by clicking the "administration" dropdown in the navigation bar.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is a demo release for a room reservation webapp.</p>
    <p class="lead"><strong>To start using the app, please login using the link in the top-right corner.</strong></p>
    <p><em>Source code can be found on <a href="https://github.com/gfontorbe/RoomReservation" target="_blank">GitHub</a>.</em></p>
</div>
